<!-- cart-dropdown.component.html -->
<div ngbDropdown class="d-inline-block">
  <!-- Botón del carrito -->
  <button class="btn btn-outline-light" id="cartDropdownMenuButton" ngbDropdownToggle>
    <i class="fas fa-shopping-cart"></i>
    <span class="badge bg-danger">{{ cartItemsCount }}</span>
  </button>


  
  <!-- Menú desplegable del carrito -->
  <div ngbDropdownMenu aria-labelledby="cartDropdownMenuButton" class="p-3" style="width: 300px;">
    <div *ngIf="cartItems.length > 0">
      <h6 class="dropdown-header">Carrito de Compras</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of cartItems">
          <div class="d-flex align-items-center">
            <img [src]="item.imageUrl" alt="{{ item.name }}" class="cart-item-image me-2" width="50" height="50">
            <div>
              <span class="d-block">{{ item.name }}</span>
              <span class="text-muted"> {{ item.name }} - ${{ item.price }} x {{ item.quantity }} </span>
            </div>
          </div>
          <button class="btn btn-danger btn-sm ms-2" (click)="removeFromCart(item)">Eliminar</button>
        </li>
      </ul>
      <div class="dropdown-divider my-2"></div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary btn-sm w-100 me-1" (click)="goToCheckout()">Checkout</button>
        <button class="btn btn-warning btn-sm w-100 ms-1" (click)="clearCart()">Limpiar</button>
      </div>
    </div>
    <div *ngIf="cartItems.length === 0" class="alert alert-warning m-2">
      El carrito está vacío.
    </div>
  </div>
</div>
