<!-- header.component.html -->
<nav class="navbar" style="background-color: #ff69b4;">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo/logo.jpeg" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
    </a>

    <!-- Search Input -->
    <form class="d-flex" role="search" style="flex-grow: 1; margin-right: 20px;">
      <span class="font-bold" style="color:white; font-size: x-large;">Elena Martini Kreationen</span>
      <input 
        class="form-control me-2 w-25 ms-5" 
        [(ngModel)]="inputValue" 
        [ngModelOptions]="{standalone: true}" 
        (keyup.enter)="getProductsByFilter()" 
        type="search" 
        placeholder="Search" 
        aria-label="Search">
      <button class="btn btn-outline-light" (click)="getProductsByFilter()" type="submit">Search</button>
    </form>

    <!-- Icons and User Section -->
    <div class="d-flex align-items-center">
      <!-- Shopping Cart Icon -->
     
        <app-cart-dropdown></app-cart-dropdown>


      <!-- User Dropdown with ng-bootstrap -->
      <ng-template #dropdownTemplate>
        <button class="dropdown-item" (click)="logout()">Cerrar sesión</button>
      </ng-template>
      
      <div ngbDropdown class="d-inline-block" *ngIf="isLoggedIn">
        <button class="btn btn-outline-light dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>
          <i class="fas fa-user"></i> {{ userName }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem>Profile</button>
          <button ngbDropdownItem>Orders</button>
          <div ngbDropdownItem *ngTemplateOutlet="dropdownTemplate"></div>
        </div>
      </div>

      <!--<div class="position-absolute" style="right: 0; top: 100%;" *ngIf="showCartDropdown">-->
        
      <!--</div>-->

      <!-- Mostrar "Iniciar sesión" si el usuario no está autenticado -->
      <div *ngIf="!isLoggedIn">
        <a routerLink="/login" class="btn btn-outline-light me-2">Iniciar sesión</a>
      </div>
    </div>
  </div>
</nav>






