<div class="container login-container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-12">
      <div class="card shadow login-card">
        <div class="card-header text-center">
          <!-- Logo -->
          <img src="../../../assets/images/logo/logo.jpeg" alt="Logo" class="login-logo mb-3">
          <h5 class="card-title">Iniciar Sesión</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input type="text" class="form-control" id="username" formControlName="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>
            </div>
            <button type="submit" class="btn btn-lg w-100" style="color:white; background-color :#ff69b4;">Iniciar Sesión</button>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <p>¿No tienes una cuenta? <a [routerLink]="['/register']">Regístrate aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
